@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
}

.text-xlg{
  font-size: 3rem;
}

.text-lead{
  font-size: 20px;
}

.btn{
  padding: 15px 30px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
}

.btn--primary{
  background-color: #0F7EF3;
  color: #fff;
}

.btn--eye{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-size: .1rem;
}

input{
  padding: 15px 30px;
  border: 0;
  border-bottom: 1px solid #333;
  transition: 1s;
  outline: 0;
}
input:focus{
  border-bottom: 3px solid #333;
}


.form{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}